@model Wholesaler.Models.CompanyDetailsModel
@{
    ViewBag.id = Model.Company.ID;
}
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Navbar.cshtml";
}

@*<a href="~/CompanyContacts/AddContact/@Model.Company.ID" class="btn new-record-button" role="button">New Contact</a>*@

<table class="stripe hover compact row-border" id="main-table">
    <thead>
        <tr>
            <th data-field="ID" data-sortable="true">ID</th>
            <th data-field="ContactName" data-sortable="true">Contact Name</th>
            <th data-field="PhoneNum" data-sortable="true">Phone Number</th>
            <th data-field="Email" data-sortable="true">Email</th>
            <th data-field="Position" data-sortable="true">Position</th>
            <th data-field="InternalComments" data-sortable="true">Comments</th>

            <th data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var companyContact in Model.Company.CompanyContacts)
        {
            <tr>
                <td>@companyContact.ID</td>
                <td>@companyContact.ContactName</td>
                <td>@companyContact.PhoneNum</td>
                <td>@companyContact.Email</td>
                <td>@companyContact.Position</td>
                <td>@companyContact.InternalComments</td>
                <td>
                    <a href="~/CompanyContacts/ContactDetails/@companyContact.ID" class="glyphicon glyphicon-edit" title="Edit"></a>

                    <span class="glyphicon glyphicon-remove-circle" onclick="deleteItem(@companyContact.ID)" title="Delete"></span>
                </td>
            </tr>
        }
    </tbody>
</table>

    @section scripts
    {
        <script>
            var table;
            $(function () {
                $('#main-table').append('<caption style="caption-side: top; background-color: #4380c3; color: white; font-weight: 550;padding-left: 10px;">Contacts for @Model.Company.CompanyName<a href="/CompanyContacts/AddContact/@Model.Company.ID" id="tableHeader"><span class="glyphicon glyphicon-plus-sign" style="padding-right:5px;"></span>New Contact</a></caption>');
                table = $('#main-table').DataTable(
                    {
                        "searching": false,
                        "ordering": false,
                        "lengthChange": false,

                        "pagingType": "full_numbers",
                        "language": {
                            paginate: {
                                next: '<span class="glyphicon glyphicon-menu-right"></span>',
                                previous: '<span class="glyphicon glyphicon-menu-left"></span>',
                                first: '<span class="glyphicon glyphicon-menu-left double-menu-arrow"></span><span class="glyphicon glyphicon-menu-left double-menu-arrow"></span>',
                                last: '<span class="glyphicon glyphicon-menu-right double-menu-arrow"></span><span class="glyphicon glyphicon-menu-right double-menu-arrow"></span>'
                            }
                        },
                    });
            });
            function deleteItem(id) {
                smoke.confirm('Are you sure you want to delete this record?', function (e) {
                    if (e)
                        location.href = '/CompanyContacts/delete/' + id;
                });
            }

        </script>
    }
