@model Wholesaler.Models.CompanyDetailsModel
@{
    ViewBag.id = Model.Company.ID;
}
@{
    ViewBag.Title = "Addresses";
    Layout = "~/Views/Shared/_Navbar.cshtml";
}

@*<a href="~/CompanyAddresses/AddAddress/@Model.Company.ID" class="btn new-record-button" role="button">New Address</a>*@

<table class="stripe hover compact row-border" id="main-table">
    <thead>
        <tr>
            <th data-field="ID" data-sortable="true">ID</th>
            <th data-field="AddressName" data-sortable="true">AddressName</th>
            <th data-field="Address" data-sortable="true">Address</th>
            <th data-field="Address2" data-sortable="true">Address2</th>
            <th data-field="City" data-sortable="true">City</th>
            <th data-field="State" data-sortable="true">State</th>
            <th data-field="Zip" data-sortable="true">Zip</th>
            <th data-field="Country" data-sortable="true">Country</th>
            <th data-field="Phone" data-sortable="true">Phone Number</th>
            <th data-field="Billing" data-sortable="true">Billing</th>
            <th data-field="OrderBy" data-sortable="true">Order By</th>
            <th data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var companyAddress in Model.Company.CompanyAddresses.OrderBy(x => x.OrderBy))
        {
            <tr>
                <td>@companyAddress.ID</td>
                <td>@companyAddress.AddressName</td>
                <td>@companyAddress.Address</td>
                <td>@companyAddress.Address2</td>
                <td>@companyAddress.City</td>
                <td>@companyAddress.State</td>
                <td>@companyAddress.Zip</td>
                <td>@companyAddress.Country</td>
                <td>@companyAddress.Phone</td>
                <td>@companyAddress.Billing</td>
                <td>@companyAddress.OrderBy</td>
                <td>
                    <a href="~/CompanyAddresses/Details/@companyAddress.ID" class="glyphicon glyphicon-edit" title="Edit"></a>

                    <span class="glyphicon glyphicon-remove-circle" onclick="deleteItem(@companyAddress.ID)" title="Delete"></span>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
    {
    <script>
        var table;
        $(function () {
            $('#main-table').append('<caption style="caption-side: top; background-color: #4380c3; color: white; font-weight: 550;padding-left: 10px;">Addresses for @Model.Company.CompanyName<a href="/CompanyAddresses/AddAddress/@Model.Company.ID" id="tableHeader"><span class="glyphicon glyphicon-plus-sign" style="padding-right:5px;"></span>New Address</a></caption>');
            table = $('#main-table').DataTable(
                {
                    "searching": false,
                    "ordering": false,
                    "lengthChange": false,

                    "pagingType": "full_numbers",
                    "language": {
                        paginate: {
                            next: '<span class="glyphicon glyphicon-menu-right"></span>',
                            previous: '<span class="glyphicon glyphicon-menu-left"></span>',
                            first: '<span class="glyphicon glyphicon-menu-left double-menu-arrow"></span><span class="glyphicon glyphicon-menu-left double-menu-arrow"></span>',
                            last: '<span class="glyphicon glyphicon-menu-right double-menu-arrow"></span><span class="glyphicon glyphicon-menu-right double-menu-arrow"></span>'
                        }
                    },
                });
        });
        function deleteItem(id) {
            smoke.confirm('Are you sure you want to delete this address?', function (e) {
                if (e)
                    location.href = '/CompanyAddresses/delete/' + id;
            });
        }

    </script>
}
