@model Wholesaler.Models.CompanyDetailsModel
@{ 
    ViewBag.id = Model.Company.ID;
}
@{
    ViewBag.Title = "Company Details";
    Layout = "~/Views/Shared/_Navbar.cshtml";
}

<script>
    function submitForm() { $('#pageForm').submit(); }
</script>

<form method="post" id="pageForm" action="~/Companies/Details/@Model.Company.ID" enctype="multipart/form-data">
    @if (Model.Company.ID > 0)
    {@Html.HiddenFor(x => x.Company.ID)}

    <div class="row">&nbsp;</div>
    @*<div class="pageIcons"><a href="@Url.Action("Company", "Companies")" title="Back"><i class="glyphicon glyphicon-arrow-left  btn-lg  edit-del " style="color:#337AB7; border: 1px solid black; margin-bottom: 10px;"></i></a></div>*@
    <div class="row col-sm-12 formEditContainer well">
        <p>
            <div class="row">
                <label class="col-sm-2 control-label">Company Name</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.Company.CompanyName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Company.CompanyName)
                </div>
            </div>
        </p>
        <p>
            <div class="row">
                <label class="col-sm-2 control-label">Phone Number</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.Company.PhoneNum, new { @class = "form-control", })
                    @Html.ValidationMessageFor(x => x.Company.PhoneNum)
                </div>
            </div>
        </p>
        <p>
            <div class="row">
                <label class="col-sm-2 control-label">Comments</label>
                <div class="col-sm-7">
                    @Html.TextAreaFor(x => x.Company.InternalComments, new { @class = "form-control", })
                    @Html.ValidationMessageFor(x => x.Company.InternalComments)
                </div>
            </div>
        </p>

        @Html.HiddenFor(x => x.Company.CreateDate)
        <p>
            <div class="row">
                <label class="col-sm-2 control-label">Upload Logo</label>
                <div class="col-sm-7">
                    <input type="file" name="logo"/>
                    @Html.HiddenFor(x => x.Company.Logo)
                    @Html.ValidationMessageFor(x => x.Company.Logo)
                </div>
            </div>
        </p>
    </div>

    @if (Model.Company.ID > 0)
    {
        <button type="button" class="btn btn-success" onclick="submitForm(); return false;">Save</button>
        @:&nbsp;
        <button type="button" class="btn btn-danger" onclick="deleteItem(@Model.Company.ID); return false;">Delete</button>
    }

</form>

<script>
    function deleteItem(id) {
        smoke.confirm('Are you sure you want to delete this record?', function (e) {
            if (e)
                location.href = '/Companies/delete/' + id;
        });
    }
</script>

