@model Wholesaler.Models.UsersDetailsModel
@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_MainNavbar.cshtml";
}

<script>
    function submitForm() { $('#pageForm').submit(); }
</script>


<form method="post" id="pageForm" action="~/Users/UserDetails/@Model.User.ID">
    @if (Model.User.ID > 0)
    {@Html.HiddenFor(x => x.User.ID)}

    <div class="row">&nbsp;</div>
    @*<div class="pageIcons"><a href="@Url.Action("Index", "Users")" title="Back"><i class="glyphicon glyphicon-arrow-left  btn-lg  edit-del " style="color:#337AB7; border: 1px solid black; margin-bottom: 10px;"></i></a></div>*@
    <div class="row col-sm-12 formEditContainer well">

        <p>
            <div class="row">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.User.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.User.Email)
                </div>
            </div>
        </p>
        <p>
            <div class="row">
                <label class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.User.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.User.FirstName)
                </div>
            </div>
        </p>
        <p>
            <div class="row">
                <label class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.User.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.User.LastName)
                </div>
            </div>
        </p>
        <div class="row">
            <label class="col-sm-2 control-label">Change Password</label>
            <div class="col-sm-7">
                @Html.PasswordFor(x => x.User.Password, new { @class = "form-control", })
                @Html.ValidationMessageFor(x => x.User.Password)
            </div>
        </div>
        <p>
            <div class="row">
                <label class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-7">
                    @Html.PasswordFor(x => x.User.ConfirmPassword, new { @class = "form-control", })
                    @Html.ValidationMessageFor(x => x.User.ConfirmPassword)
                </div>
            </div>
        </p>
        <p>
            <div class="row">
                <label class="col-sm-2 control-label">Permission Level</label>
                <div class="col-sm-7">
                    @Html.EnumDropDownListFor(x => x.User.PermissionLevel,
                                                 "Select Permission Level",
                                                 new { @class = "form-control"})
                    @Html.ValidationMessageFor(x => x.User.PermissionLevel)
                </div>
            </div>
        </p>
    </div>
    @if (Model.User.ID > 0)
    {
        <button type="button" class="btn btn-success" onclick="submitForm(); return false;">Save</button>
        @:&nbsp;
        <button type="button" class="btn btn-danger" onclick="deleteItem(@Model.User.ID); return false;">Delete</button>
    }
</form>

<script>
    function deleteItem(id) {
        smoke.confirm('Are you sure you want to delete this record?', function (e) {
            if (e)
                location.href = '/Users/delete/' + id;
        });
    }
</script>


